# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Backend
backend/build/
backend/.gradle/
backend/out/

# Frontend
frontend/node_modules/
frontend/.next/
frontend/out/

# Environment files
.env
.env.local
*.env
!*.env.example
